<h2><center>Tugas 1 Data Mining 2019/2020</center></h2>

<center><font color="red">Deadline: 19 Oktober 2019 pukul 23.55</font><center>

---

<h4>Nama    :  </h4>
<h4>NPM     :  </h4>

<b> Petunjuk Umum: </b>

1. Kerjakanlah soal-soal berikut dengan menggunakan data Wine yang telah tersedia pada library scikit-learn. Lakukan pengolahan data dan perhitungan menggunakan bahasa pemrograman Python. Perhitungan tidak boleh menggunakan fungsi yang sudah tersedia di dalam library, eg. menghitung mean dengan menggunakan numpy.mean(...) atau mengitung covariance dengan menggunakan numpy.cov(..).

2. Gunakan template Jupyter notebook yang telah disediakan untuk menjawab soal.

3. Format penulisan nama file di Jupyter notebook: T1_Nama_NIM.ipynb

4. Kumpulkan pada slot yang disediakan di scele. Deadline: 19 Oktober 2019 pukul 23.55.

<h5>*) Tulis jawaban ditempat yang sudah disediakan</h5>

<b><i>Data processing</i></b>

1. Berapa banyak instances dan dimensi dari data Wine tersebut?
2. Hitunglah range, Interquartile range dan variance dari masing-masing kolom!
3. Buatlah scatter plot 2D dari data kolom 'alcohol' dan 'malic_acid'!
4. Dengan data dari kolom 'alcohol' dan 'malic_acid', ubah data menjadi centered data matrix!
5. Hitunglah mean data kolom 'alcohol' dan 'malic_acid' dari centered data matrix!
6. Buatlah scatter 2 plot 2D, yaitu:
<dd>a. scatter plot 2D dari centered data matrix</dd>
<dd>b. scatter plot 2D dari centered data matrix dengan memberikan warna/simbol berbeda untuk kelas yang berbeda.</dd> 
7. Hitunglah covariance matrix data kolom 'alcohol' dan 'malic_acid' dari centered data matrix!
8. Lakukan standard normalization pada data dimasing-masing kolom! Apa yang terjadi setelah dilakukan normalisasi?

Jawaban:

In [ ]:
#1.

In [ ]:
#2.

In [ ]:
#3.

In [ ]:
#4.

In [ ]:
#5.

In [ ]:
#6.

In [ ]:
#7.

In [1]:
#8

<b><i>Algebraic and Geometric Views</i></b>

8. Lakukan proyeksi orthogonal pada data kolom 'alcohol' dan 'malic_acid' terhadap persamaan x1=x2 (serupa dengan persamaan linear y=x untuk sumbu x dan y)!
9. Buatlah scatter plot 2D dari hasil proyeksi orthogonal tersebut dengan warna/simbol berbeda untuk kelas yang berbeda!
10. Apakah garis x1=x2 berhasil memisahkan kelas yang satu dengan kelas yang lainnya pada data ? Jelaskan jawaban Anda dengan menganalisis hasil plot Anda!

Jawaban:

In [2]:
#1.

In [3]:
#2.

In [4]:
#3.

<b><i>Probabilistic View</i></b>

11. Dengan satu kali percobaan, hitunglah probabilitas dimana Anda dapat memilih wine yang memiliki kandungan Flavanoids kurang dari 1 mg/L!
12. Dengan 25 kali percobaan, hitunglah probabilitas dimana Anda dapat memilih 5 wine yang memiliki kandungan Flavanoids kurang dari 1 mg/L!

Jawaban:

In [ ]:
#1.

In [ ]:
#2.